@*
Author: Samuel Adeogun
*@
@model IEnumerable<TravelExpertsData.BookingDetail>

@{
    ViewBag.Title = "My Booking Details";
}

<h2>My Booking Details</h2>
<table class="table bg-light">
    <thead>
    <tr>
        <th>Itinerary No.</th>
        <th>Description</th>
        <th>Base Price</th>
        <th>Fee</th>
        <th>Total Cost</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var detail in Model)
    {
        <tr>
            <td>@detail.ItineraryNo</td>
            <td>@detail.Description</td>
            <td>@detail.BasePrice?.ToString("C")</td>
            <td>@detail.AgencyCommission?.ToString("C")</td>
            <td>@(detail.Fee?.FeeAmt.ToString("C") ?? "0.00")</td>
            <td>@((detail.BasePrice + detail.AgencyCommission + (detail.Fee?.FeeAmt ?? 0))?.ToString("C"))</td>
        </tr>
    }
    </tbody>
</table>